html {
  font-family: Georgia, serif;
}

.img-wrapper {
  max-height: 500px;
  overflow: hidden;
  background-image: linear-gradient(to bottom, rgba(73, 85, 98, .9), rgba(73, 85, 98, .2));
}

.bottom {
  background-color: #495562;
  color: #efefef;
}

.btn {
  color: #fff;
  border-color: #97a49b;
}

@media only screen and (min-width: 60em) {

  section {
    position: relative;
  }

  .bottom {
    position: absolute;
    background-color: inherit;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

}
